* {
    box-sizing: border-box;
}

.crossword {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.crossword-board {
    display: flex;
    flex-wrap: wrap;
    width: calc(550px);
    height: calc(550px);
}

.box {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
}

.box-input {
    width: 48px;
    height: 49px;
    border: 0;
    padding: 0;
    font-size: 18px;
}

.box-input:valid {
    color: green;
}

.box-input:valid {
    color: red;
}

.box-input:focus {
    background: #96def0;
}

.box-label {
    position: absolute;
    top: 2px;
    left: 2px;
}

.blank {
    background: rgb(54, 78, 54);
    color: red;
}

.highlight {
    background: #ed75f1;
}